#grid{
    display: flex;
    position: relative;
    width: 560px;
    height: 300px;
    border: 1px solid black;

}

.block{
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user{
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}